.calendar {
    margin: 0 75px 25px 75px;
    background: #fff;
    padding-bottom: 1px;
}

.title {
    display: flex;
}

.title_name {
    width: calc(100% - 340px);
    text-align: center;
    font-size: 23px;
    position: absolute;
}

.calendar_table {
    margin: 20px;
}
