.calendar {
    margin: 0 75px 0 75px;
    background: #fff;
    height: calc(100% - 120px);
}

.title {
    display: flex;
}

.title_name {
    width: calc(100% - 340px);
    text-align: center;
    font-size: 23px;
    position: absolute;
}

.calendar_table {
    margin: 20px;
}
