.inputForm {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 25px;
    position: relative;
}

.placeholder {
    color: #d6d6d6;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: 0;
}

.input {
    width: 150px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

.image {
    position: absolute;
    right: 20px;
    top: 13px;
    cursor: pointer;
}
